

    <div class="contenido-img">
       <h2 class="titulo-nosotros">Quienes Somos</h2>
    </div>


<div class="container">

    <div class="linea001 column">

      <div class="texto">
        <h1 class="titulo">
          <span class="resaltado">Plantel</span>
          Administrativo
          </h1>
          <div class="linea"></div>
          <div class="linea2"></div>
          <br>
      </div>

      <section id="team">
        <div class="col-md-7 col-sm-12">
            <div class="row">
                <!-- END col-sm-4-->
                <div class="col-md-9 col-sm-8">

                  <div id="team-1" class="card-single">
                      <div class="team-img">
                          <!-- <img src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg" alt=""> -->
                          <div class="team-social">
                              <ul>
                                  <li>Presidente</li>
                              </ul>
                          </div>
                      </div>
                      <div class="">
                        <div class="img">
                          <img src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg" alt="" class="imagen-Fl">
                          <div class="subtext">
                            <h4>Boris Vladimir Vargas Valencia</h4>
                            <p>PRESIDENTE</p>
                          </div>

                        </div>
                          
                      </div>
                  </div>
                  <!-- END team-single-->
                    
                  <div id="team-1" class="card-single ">
                    <div class="team-img">
                        <div class="team-social">
                            <ul>
                                <li>Vicepresidente</li>
                            </ul>
                        </div>
                    </div>

                    <div class="">

                      <div class="img">
                        <img src="../../../assets/img/nosotros/Julio Secundino Sol[is Vasquez.jpeg" alt="" class="imagen-Fl">
                        <div class="subtext">
                          <h4>Julio Secundino Soliz Vásquez</h4>
                        </div>
                      </div>
                        
                    </div>

                  </div>
                  <!-- END team-single-->

                  <div id="team-1" class="card-single ">
                    <div class="team-img">
                        <div class="team-social">
                            <ul>
                                <li>Tesorero</li>
                            </ul>
                        </div>
                    </div>
                    <div class="">

                      <div class="img">
                        <img src="../../../assets/img/nosotros/Manuel Cuchallo Velez.jpeg" alt="" class="imagen-Fl">
                        <div class="subtext">
                          <h4>Manuel Cuchallo Veléz</h4>
                          <p>Tesorero</p>
                        </div>

                      </div>
                        
                    </div>
                  </div>
                  <!-- END team-single-->

                
                  <div id="team-1" class="card-single">
                    <div class="team-img">
                        <!-- <img src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg" alt=""> -->
                        <div class="team-social">
                            <ul>
                               <li>Secretaria</li>
                            </ul>
                        </div>
                    </div>
                    <div class="">
                      <div class="img">
                        <img src="../../../assets/img/nosotros/Maciel del Rosario Cuellas Caumol.jpeg" alt="" class="imagen-Fl">
                      </div>
                      <div class="subtext">
                        <h4>Maciel del Rosario Cuellar Caumol</h4>
                        <p>Secretaria</p>
                      </div>
                    </div>
                  </div>
                  <!-- END team-single-->
                </div>
                
                <div class="second">

                  <div id="team-1" class="card-single ">
                    <div class="team-img">
                        <!-- <img src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg" alt=""> -->
                        <div class="team-social">
                            <ul>
                                <!-- <li><a href=""><i class="fa fa-facebook"></i></a></li> -->
                                <!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                                <!-- <li><a href=""><i class="fa fa-google-plus"></i></a></li> -->
                                <li>Vocal por Editores</li>
                            </ul>
                        </div>
                    </div>
                    <div class="">
                      <div class="img">
                        <img src="../../../assets/img/nosotros/Huascar Flores Veizaga.jpeg" alt="" class="imagen-Fl">
                        <div class="subtext">
                          <h4>Huáscar Flores Veizaga</h4>
                          <p>Vocal por Editores</p>
                        </div>
                      </div>
                  
                    </div>
                  </div>
                  <!-- END team-single-->
                    
                  <div id="team-1" class="card-single ">
                    <div class="team-img">
                        <!-- <img src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg" alt=""> -->
                        <div class="team-social">
                            <ul>
                                <!-- <li><a href=""><i class="fa fa-facebook"></i></a></li> -->
                                <!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                                <!-- <li><a href=""><i class="fa fa-google-plus"></i></a></li> -->
                                <li>Vocal por Librerías</li>
                            </ul>
                        </div>
                    </div>
                    <div class="">
                      <div class="img">
                        <img src="../../../assets/img/nosotros/Robert Laura Valera.jpeg" alt="" class="imagen-Fl">
                        <div class="subtext">
                          <h4>Robert Laura Valera</h4>
                          <p>Vocal por Librerías</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END team-single-->
                    
                  <div id="team-1" class="card-single ">
                      <div class="team-img">
                        <!-- <img src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg" alt=""> -->
                        <div class="team-social">
                            <ul>
                                <!-- <li><a href=""><i class="fa fa-facebook"></i></a></li> -->
                                <!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                                <!-- <li><a href=""><i class="fa fa-google-plus"></i></a></li> -->
                                <li>Vocal por O.V.P</li>
                            </ul>
                        </div>
                      </div>
                      <div class="">
                        <div class="img">
                          <img src="../../../assets/img/nosotros/Marily Ortiz Limon.jpeg" alt="" class="imagen-Fl">
                      </div>
                      <div class="subtext">
                        <h4>Marily Ortiz Limón</h4>
                        <p>Vocal por O.V.P.</p>
                      </div>
                    </div>
                  </div>
                  <!-- END team-single-->
                </div>

            </div>
            <!-- END col-sm-8-->
        </div>
      </section>

    </div> <!-- END linea001 -->

    <div class="linea002 column">

          <div class="rowfila1">
            <div class="column50 img-historia">
              <img src="../../../assets/img/nosotros/Directorio.jpg" alt="">
            </div>

            <div class="column50 textoHis">
                <h1 class="titulo">Historia</h1>
                <div class="lineaH"></div>
                    <div class="linea2H"></div>
                <br>
                  <p>Un 25 de marzo del 2008 se llevó a cabo una asamblea general de “La Cámara Departamental del Libro de Cochabamba" conformada por asociados y representantes de instituciones y empresas dedicadas a la producción de libros, revistas y cualquier producción bibliográfica legal.</p>
                  <br>
                  <p>Dicha reunión tuvo la finalidad de apoyar, promover e impulsar el desarrollo de las actividades relacionadas con la producción de todo tipo de material complementario al libro en cualquier formato y cualquier tipo de publicación bibliográfica en el departamento.</p>
            </div>
          </div>

          <br><br>



          <div class="contain">

            <div class="card-1 card-mision">
              <div class="content-card">
                <h2 class="card-titulo">MISIÓN</h2>
                <p class="card-descripcion">Fortalecer el desarrollo de la industria editorial y la cadena comercial del libro mediante la protección de la propiedad intelectual en el departamento de Cochabamba.
                </p>
              </div>
            </div>
<br>
            <div class="card-1 card-vision">
              <div class="content-card">
                <h2 class="card-titulo">VISIÓN</h2>
                <p class="card-descripcion">Ser la institución líder que representa y defiende la propiedad intelectual para fortalecer a toda la cadena del rubro editorial y comercial en el departamento Cochabamba.
                </p>
              </div>
            </div>

          </div>


    </div>

</div>