
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.contenido-img h2{
  font-family: 'Roboto Slab', serif;
  padding: 150px 0px 150px 0px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiante.jpg);
  background-size: 100%;
  background-position-y: top;
}

.linea{
  background-color: #fbd606;
  width: 25%;
  height: 2.2px;
}

.linea2{
  background-color: #fbd606;
  width: 10%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 3px;
}

.container{
  margin-top: 3%;
}

.linea001 {
  width: 75%;
  margin: 0 12%;
}

.texto {
  margin-left: 4.2%;
}



/*======================*/
/*=======HISTORIA=======*/

.img-historia{
  width: 35%;
  float: left;
  margin-left: 13%;
  margin-right: 2%;
}

.img-historia img{
  width: 100%;
}

.lineaH{
  background-color: #fbd606;
  margin-left: 52.7%;
  width: 15%;
  height: 2.2px;
}

.linea2H{
  background-color: #fbd606;
  width: 6%;
  margin-left: 52.7%;
  border-top: 2px solid #fbd606;
  height: 3px;
}

.textoHis{
  width: 95%;
}

.titulo{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5mm;
  font-size: 33px;
  margin-bottom: 5px;
}
.resaltado{
  font-size: 33px;
  color: #fbd606;
  font-family: 'Roboto Slab', serif;
}

/*================================*/
/*==========MISION VISION=========*/
/*================================*/

 
.contain{
  /* padding-top: 50px; */
  /* width: 80%; */
  /* margin: 0 10%; */
  height: 230px;
  margin-top: 11%;
}

.card-1 {
  background-image: linear-gradient(to top,rgba(233, 163, 71, 0.2) 0%, rgba(228, 237, 44, 0.2) 100%), url(../../../assets/img/nosotros/Mision-y-vision.jpg);

  background-size: cover;
  height: 250px;
  width: 30%;
  float: left;

  transform: translate(-50%, -50%);
  overflow: hidden;
}
.card-mision{
  margin-left: 450px;
  margin-top: 18px;
}

.card-vision{
  margin-left: 70px;
  float: right;
}

.icon-card {
  transition: all 0.5s;
}

  .content-card {
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
    transform: translateY(calc(100% - 50px));
    background-color: #513b0c99;
  }

.card-titulo {
    font-family: 'PT Serif', serif;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    color: #fff;
    height: 50px;
  }

  .card-descripcion {
    font-family: "Monserrat", sans-serif;
    font-size: 15px;
    color: #fff;

    padding: 0 20px 20px 20px;
    transition: all 0.5s;
  }

  .content-card:hover {
    transform: translateY(0%);
  }

  .icon-card:hover {
    transform: translateY(calc(-100% - 50px));
  }

.icon{
  font-size: 50px;
  color: #fffffa;
  margin: 65px 0px 0px 185px;
}

/*================= FIN ===============*/
/*==========MISION VISION FIN==========*/
/*=============== FIN =================*/




#team{
  margin-bottom: 60%;
  margin-top: -4%;
}

#team .team-social>ul {
  font-size: 13px;
  bottom: 0;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  right: 40px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}


#team .team-single:hover .team-social>ul {
  opacity: 1;
  right: 0
}

#team .card-single {
  margin: 0 4.5%;
  padding: 2px;
  width: 170px;
  margin-bottom: 60px;
  margin-top: 7px;
  float: left;
}

.subtext{
  text-align: center;
}

.second{
  margin: 0 15%;
  margin-top: 50px;
}


.rowfila1{
  background-color: rgba(55, 55, 55, 0.133);
  height: 385px;
  padding-top: 50px;
}







.img img {
  --b: 5px;  /* border thickness*/
  --s: 60px; /* size of the corner*/
  --g: 10px; /* the gap*/
  --c: #EDC951; 
  
  padding: calc(var(--b) + var(--g));
  background-image:
    conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
  background-position:
    var(--_p,0%) var(--_p,0%),
    calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
  background-size: var(--s) var(--s);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 
    background-position .3s var(--_i,.3s), 
    background-size .3s calc(.3s - var(--_i,.3s));
}

.img img.alt {
  background-image:
    conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
  background-position:
    calc(100% - var(--_p,0%)) var(--_p,0%),
    var(--_p,0%) calc(100% - var(--_p,0%));
}

.img img:hover {
  background-size: calc(100% - var(--g)) calc(100% - var(--g));
  --_p: calc(var(--g)/2);
  --_i: 0s;
}

