  <div class="form_wrap">
   
      <form [formGroup]="formulario">
        <div>
            <div class="nombre pre">
                <div class="columnaA"><h3 class="sub">Nombre</h3></div>
                <div class="columnaB">
                  <p class="text">
                    Escriba el nombre de la editorial.
                  </p>
                  <input
                  type="text"
                  id="fnombre"
                  class="txtbox"
                  placeholder="Nombre"
                  formControlName="nombre"
                  [class.is-invalid] = "nombreNoValido"
                  >
                  <br>
                  <small class="text-danger" *ngIf="nombreNoValido">Ingrese más de 3 letras</small>
                </div>
            </div>
      
            <div class="telefono pre">
                <div class="columnaA">
                  <h3 class="sub">Teléfono</h3>
                </div>
                <div class="columnaB">
                    <p class="text">
                      Escriba un número o 2 numeros de teléfono.
                    </p>
                    <div class="f1">
                      <input
                      type="number"
                      id="ftelefono1"
                      class="txtbox"
                      placeholder="Telefono 1"
                      formControlName="telefono1"
                      >
                      <br>
                      <small class="text-danger" *ngIf="telefono1NoValido">Ingrese un teléfono1 válido</small>
                    </div>
                    <div class="f2">
                      <input
                      type="number"
                      id="ftelefono2"
                      class="txtbox secondtxtbox"
                      placeholder="Telefono 2"
                      formControlName="telefono2"
                      >
                      <br>
                      <small class="text-danger" *ngIf="telefono2NoValido">Ingrese un teléfono2 válido</small>
                    </div>
                </div>
            </div>

            <div class="celular pre">
              <div class="columnaA">
                <h3 class="sub">Celular</h3>
              </div>
              <div class="columnaB">
                <p class="text">
                  Escriba uno o 2 números de Celular.
                </p>
                <div class="f1">
                  <input
                  type="number"
                  id="fcelular"
                  class="txtbox"
                  placeholder="celular 1"
                  formControlName="celular1"
                  >
                  <br>
                  <small class="text-danger" *ngIf="celular1NoValido">Ingrese un número1 de celular válido</small>
                </div>
                <div class="f2">
                  <input
                  type="number"
                  id="fcelular"
                  class="txtbox secondtxtbox"
                  placeholder="celular 2"
                  formControlName="celular2"
                  >
                  <br>
                  <small class="text-danger" *ngIf="celular2NoValido">Ingrese un número2 de celular válido</small>
                </div>
              </div>
            </div>

            <div class="direccion pre">
              <div class="columnaA">
                <h3 class="sub">Dirección</h3>
              </div>
              <div class="columnaB">
                <p class="text">
                  Añada una dirección de donde se encuentra su editorial.
                </p>
                <label for="" class="lbl">Dirección:</label>
                <br>
                <input
                type="text"
                id="fdir"
                class="txtbox"
                placeholder="Dirección"
                formControlName="direccion"
                >
              </div>
            </div>
      
            <div class="correo pre">
                <div class="columnaA">
                  <h3 class="sub">Correo electrónico</h3>
                </div>
                <div class="columnaB">
                  <p class="text">
                    Añada uno o dso correos electrónicos.
                  </p>
                    <div class="f1">
                      <input
                      type="text"
                      id="fcorreo"
                      class="txtbox"
                      placeholder="Correo 1"
                      formControlName="correo1"
                      >
                      <br>
                      <small class="text-danger" *ngIf="correo1NoValido">Ingrese un correo1 válido</small>
                    </div>
                    <div class="f2">
                      <input
                      type="text"
                      name=""
                      id=""
                      class="txtbox secondtxtbox"
                      placeholder="Correo 2"
                      formControlName="correo2"
                      >
                      <br>
                      <small class="text-danger" *ngIf="correo2NoValido">Ingrese un correo2 válido</small>
                    </div>
                </div>
            </div>

            <div class="url pre">
                <div class="columnaA">
                  <h3 class="sub">Página</h3>
                </div>
                <div class="columnaB">
                  <p class="text">
                    Si tiene una página web, añada el link.
                  </p>
                  <input
                  type="text"
                  id="furl"
                  class="txtbox"
                  formControlName="url"
                  >
                  <br>
                </div>
            </div>
      
        </div>
        <button type="submit" (click)="guardar()" [disabled]="!formulario.valid">Añadir Editorial</button>
      
        <h3 class= 'texto' [ngClass]="{ 'error': propiedades.error, 'advertencia': !propiedades.error }">
          {{ mensaje }} 
        </h3> <!--Se usa asi-->
        <!-- <p class="snackbar">{{ mensaje }} </p> -->
      </form>

  </div>


  
<div class="lista">


    <p class="title">EDITORIALES</p>

        <div class="table-responsive">
          <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Celular</th>
                <th scope="col">Dirección</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Página</th>
              </tr>
            </thead>

            <tbody *ngFor="let element of editorialLista">
              <tr class="">
                <td> {{ element.nombre }} </td>
                <td> {{ element.telefono1 }} <br> {{ element.telefono2 }}</td>
                <td> {{ element.celular1 }} <br> {{ element.celular2 }} </td>
                <td> {{ element.direccion }} </td>
                <td> {{ element.correo1 }} <br> {{ element.correo2 }} </td>
                <td> {{ element.url }} </td>
                <td class="action">
                  <button>
                    <i class="fa-solid fa-pen"></i>
                  </button>
                </td>
                <td class="action">
                  <button (click)="eliminarEditorial(element)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
        
</div>