@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.columnaA {
  width: 14%;
  /* background-color: rebeccapurple; */
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.848);
  padding: 10px;
}
.columnaB {
  width: 78%;
  padding: 10px;
  /* background-color: red; */
  float: right;
}

.pre{
  width: 93.25%;
  /* background-color: aquamarine; */
  padding: 15px 40px 15px 40px;
  height: 90px;
}

.pre:hover {
  background-color: #dbdbdb58;
}

.form_wrap {
  width: 80%;
  height: 850px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.columnaB .text {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.columnaB select {
  /* background-color: blue; */
  padding: 5px;
  width: 315px;
}

.txtbox{
  /* background-color: cadetblue; */
  padding: 5px;
  font-size: 12px;
  width: 300px;
  margin-top: 5px;
  border: 1px solid black;
  margin-bottom: 7px;
}

.lbl {
  font-size: 12px;
}
.f1{
  float: left;
  margin-right: 25px;
}

.f2 {
  margin-left: 40px;
}

.sub{
  color: black;
}

.nombre {
  height: 100px; }
.nombre .columnaA {
  height: 70px; }


.telefono {
  height: 100px;
  background-color: #dbdbdb2e; }
.telefono .columnaA {
  height: 70px; }


.celular {
  height: 95px; }
.celular .columnaA {
  height: 65px; }


.direccion {
  height: 100px; 
  background-color: #dbdbdb2e;}
.direccion .columnaA{
  height: 80px; }


.correo {
  height: 90px; }
.correo .columnaA{
  height: 60px; }


.url {
  height: 90px;
  background-color: #dbdbdb2e;}
.url .columnaA {
  height: 60px; }


form button{
  margin: 40px 0px 0px 40px;
  padding: 12px 30px;
  background: #241404;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto Mono';
  
  cursor: pointer;
  }

.error {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  width: 20%;
  margin: 0 29%;
  top: 15%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 20px;
}






/*TABLA*/
 
.lista{
  width: 80%;
  margin: 0 7%;
  margin-bottom: 20px;
}


th{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  background-color: #15151509;
}

td{
  font-size: 15px;
  padding: 15px;
  background-color: #15151509;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.action button {
  text-align: center;
  background-color: none;
  margin: 0px;
  padding: 12px 30px;
  background:transparent;
  border: none;
  border-radius: 8px;
  color: #241404;
  font-size: 26px;
  font-family: 'Roboto Mono';
  
  cursor: pointer;
}

.action{
  /* background-color: transparent; */
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}


/*Validaciones*/
.is-invalid {
  color: #ff0000;
  /* border: 2px solid #ff0000a6; */
}
.text-danger {
  color: #ff0000a6;
  width: 300px;
  float: left;
}
