
<div class="container">
  <div class="linea001">
      <div>
        <h1 class="titulo"><span class="resaltado">Nuestra</span> Ubicación</h1>
        <div class="linea"></div>
        <div class="linea2"></div>
        <br>
      </div>
      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1132.9535854384246!2d-66.14950779196975!3d-17.38794299197495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b30e3a4c51f3030!2zMTfCsDIzJzE2LjMiUyA2NsKwMDgnNTQuNyJX!5e0!3m2!1ses!2sbo!4v1659465304443!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>

  <div class="linea001">

    <div class="column40 izq">
      <h1 class="titulo"><span class="resaltado">Detalles</span> de la Ubicación</h1>
      <!-- <div class="linea"></div>
      <div class="linea2"></div> -->
      <br>
      <p>
        <i class="fa-solid fa-location-dot"></i>
        Oficina Central: Aniceto Arce #380 frente a la facultad de Medicina UMSS</p>
      <p>
        <i class="fa-solid fa-phone"></i>
        (+591) 4534479
      </p>
      <p>
        <i class="fa-solid fa-phone"></i>
        (+591) 72744922
      </p>
      <p>
        <i class="fa-solid fa-envelope"></i>
        contacto@camaralibrocbba.org
      </p>
      <p>
        <i class="fa-solid fa-clock"></i>
        Lunes - Viernes 8:30 a 12:00 y de 14:30 a 18:30
      </p>
       
    </div>
    <div class="column60 der">
      <form [formGroup]="formulario" (ngSubmit)="guardar()">
        <div class="row">
          <h3 class="title"><span class="resaltado">Formulario</span> de contacto</h3>
          <br>
        </div>
        <div class="row">
          <div class="columnder">
            <input
            type="text"
            id="fnombre"
            placeholder="Nombre"
            class="txtbox"
            formControlName="nombre"
            [class.is-invalid]="nombreNoValido"
            >
            <br>
            <small class="text-danger" *ngIf="nombreNoValido">
              Ingrese mas de 3 letras
            </small>
          </div>
        </div>
        <div class="row">
          <div class="columnder">
            <input
            type="text"
            id="femail"
            placeholder="Email"
            class="txtbox space-top"
            formControlName="email"
            [class.is-invalid]="emailNoValido"
            >
            <br>
            <small class="text-danger" *ngIf="emailNoValido">
              Ingrese un correo valido
            </small>
          </div>
        </div>
        <div class="row">
          <div class="columnder">
            <textarea
            name="mensaje"
            id="fmensaje"
            cols="30"
            rows="7"
            class="txtbox space-top"
            placeholder="Mensaje"
            formControlName="mensaje"
            [class.is-invalid]="mensajeNoValido"
            ></textarea>
          </div>
        </div>
  
        <div class="row">
          <button class="btn">Enviar</button>
        </div>
      </form>
    </div>

  </div>

</div>







<head>
  <link href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
  <!-- Header area (Image and title) -->


  <!-- <header id="header">
    <img id="pikaImage" src="https://vignette.wikia.nocookie.net/steven-universe/images/7/77/Pikachu.png/revision/latest?cb=20170721211542">
    <h1>Pikachu Ipsum</h1>
  </header> -->


  
  <!-- Input area (subtitle, number input and button) -->
  <!-- <section id="input">
    <h3 class="input-area">Enter amount of paragraphs:</h3>
    <input type="number" id="iteration" name="iteration"
               min="1" value="2" required>
    <input type="submit" id="btn" value="Pika!" onmouseover="chuMessage(this)" onmouseout="pikaMessage(this)"></input>
  </section> -->

  <!-- Container and Footer area -->
<!-- <section id="container"><h2>Ready for some Pika pi?</h2></section> -->
  <!-- <footer>Developed by Cristobal Heiss  <a href="https://www.freecodecamp.org/ceheiss" target="_blank"><i class="fab fa-free-code-camp"></i></a>  <a href="https://github.com/Ceheiss" target="_blank"><i class="fab fa-github"></i></a>  <a href="https://twitter.com/cristobalheiss" target="_blank"><i class="fab fa-twitter"></i></a>  <a href="https://www.codepen.io/ceheiss" target="_blank"><i class="fab fa-codepen"></i></a></footer> -->

  <!-- Audio files -->
  <!-- <audio id="pikaAudio" src="https://s3.us-east-2.amazonaws.com/blog-photos-heiss/audios/Pikachu+Sound+Effect.mp3">
    Your browser does not support the audio element.
  </audio>

  <audio id="pikaAudioImg" src="https://s3.us-east-2.amazonaws.com/blog-photos-heiss/audios/pikachu.mp3">
    Your browser does not support the audio element.
  </audio>  -->
</body>