.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linea001 {
  margin-top: 5%;
  margin-bottom: 2.7%;
  width: 70%;
  margin: 0 15%;
  float: left;
}

/*Lineas*/
.linea{
  background-color: #fbd606;
  width: 35%;
  margin: 0%;
  height: 2px;
}
.linea2{
  background-color: #fbd606;
  width: 10%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 3px;
}
/*fin  lineas*/

.titulo{
  color: #000;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 5px;
  font-size: 30px;
  margin-top: 50px;
}
.resaltado{
  letter-spacing: 0.5mm;
  color: #fbd606;
  font-family: 'Roboto Slab', serif;
}

iframe{
  width: 100%;
  padding: 3px;
  background-color: #98989898;
}

.column40{
  width: 40%;
  float: left;
  margin-right: 0px;
}

.izq p{
  margin-bottom: 10px;
  color: #636363;
  font-size: 14px;
}

/*inicio FORMULARIO*/

.column60{
  width: 60%;
  float: right;
  margin-top: 5%;
}
 
form{
  border: 2px solid transparent;
  width: 88%;
  margin: 0 10%;
  padding: none;
  height: 390px;
}

.title{
  color: #000;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 5px;
  font-size: 30px;
}

.txtbox{
  width: 100%;
  padding: 7px;
  background-color: transparent;
  border: 2px solid #333333;
}

.space-top{
  margin-top: 7px;
}

.row{
  width: 100%;
}

.text-danger{
  color: #f75b00;
}

.btn{
  background-color: #fbef06;
  padding: 10px 15px 10px 15px;
  margin-top: 7px;
  color: #677264;
  font-weight: bolder;
  font-size: 18px;

  border: none;
}

.btn:hover{
  background-color: transparent;
  border: 1px solid #f7f200;
  color: #f7f200;
}

/*fin FORMULARIO*/









body {
  background: linear-gradient(45deg, yellow,orange);
  font-family: arial;
}

/******** Header area ********/
#header {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
/*   border: 2px solid blue; */
  margin-right: 20px;
}

/* img:hover{
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: 'Monofett', cursive;
  font-size: 100px;
  color: #cc0000;
}
 */

/******** Animations ********/
#header h1 {
  animation-name: title-entrance;
  animation-duration: 2s;
}

@keyframes title-entrance {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }  
}

#pikaImage{
  animation-name: pika-entrance;
  animation-duration: 2s;
}

@keyframes pika-entrance {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }  
}

