<!--  -->

<div class="container">
  <div class="linea001">
      <div>
        <h1 class="titulo"><span class="resaltado">Busca</span> Tu Libro Favorito</h1>
        <div class="linea"></div>
        <div class="linea2"></div>
        <br>
      </div>

      
      <div class="book-store">
 
        <div class="book-slide">
         <div class="book js-flickity" data-flickity-options='{ "wrapAround": true }'>
          <div class="book-cell">
           <div class="book-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81WcnNQ-TBL.jpg" alt="" class="book-photo">
           </div>
           <div class="book-content">
            <div class="book-title">LIBRO 1</div>
            <div class="book-author">Lorem Ipsum</div>
            <div class="rate">
             <fieldset class="rating">
              <input type="checkbox" id="star5" name="rating" value="5" />
              <label class="full" for="star5"></label>
              <input type="checkbox" id="star4" name="rating" value="4" />
              <label class="full" for="star4"></label>
              <input type="checkbox" id="star3" name="rating" value="3" />
              <label class="full" for="star3"></label>
              <input type="checkbox" id="star2" name="rating" value="2" />
              <label class="full" for="star2"></label>
              <input type="checkbox" id="star1" name="rating" value="1" />
              <label class="full" for="star1"></label>
             </fieldset>
             <span class="book-voters">0000 voters</span>
            </div>
            <div class="book-sum">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio assumenda quas quisquam placeat dignissimos ratione cupiditate vero. </div>
            <div class="book-see">Ver mas</div>
           </div>
          </div>
          <div class="book-cell">
           <div class="book-img">
            <img src="https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg" alt="" class="book-photo">
           </div>
           <div class="book-content">
            <div class="book-title">LIBRO 2</div>
            <div class="book-author">Lorem ipsum dolor</div>
            <div class="rate">
             <fieldset class="rating blue">
              <input type="checkbox" id="star6" name="rating" value="5" />
              <label class="full1" for="star6"></label>
              <input type="checkbox" id="star7" name="rating" value="4" />
              <label class="full1" for="star7"></label>
              <input type="checkbox" id="star8" name="rating" value="3" />
              <label class="full1" for="star8"></label>
              <input type="checkbox" id="star9" name="rating" value="2" />
              <label class="full1" for="star9"></label>
              <input type="checkbox" id="star10" name="rating" value="1" />
              <label class="full1" for="star10"></label>
             </fieldset>
             <span class="book-voters">0000 voters</span>
            </div>
            <div class="book-sum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nisi ea perferendis incidunt.</div>
            <div class="book-see book-blue">Ver mas</div>
           </div>
          </div>
          <div class="book-cell">
           <div class="book-img">
            <img src="https://www.abebooks.com/blog/wp-content/uploads/2016/08/10.jpg" alt="" class="book-photo">
           </div>
           <div class="book-content">
            <div class="book-title">LIBRO 3</div>
            <div class="book-author">Lorem ipsum dolor sit.</div>
            <div class="rate">
             <fieldset class="rating purple">
              <input type="checkbox" id="star11" name="rating" value="5" />
              <label class="full" for="star11"></label>
              <input type="checkbox" id="star12" name="rating" value="4" />
              <label class="full" for="star12"></label>
              <input type="checkbox" id="star13" name="rating" value="3" />
              <label class="full" for="star13"></label>
              <input type="checkbox" id="star14" name="rating" value="2" />
              <label class="full" for="star14"></label>
              <input type="checkbox" id="star15" name="rating" value="1" />
              <label class="full" for="star15"></label>
             </fieldset>
             <span class="book-voters">0000 voters</span>
            </div>
            <div class="book-sum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse labore eveniet provident fugit in veniam quibusdam, non laboriosam tempora fugiat.</div>
            <div class="book-see book-pink">Ver mas</div>
           </div>
          </div>
          <div class="book-cell">
           <div class="book-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81af+MCATTL.jpg" alt="" class="book-photo">
           </div>
           <div class="book-content">
            <div class="book-title">Libro 5</div>
            <div class="book-author">Lorem ipsum dolor sit.</div>
            <div class="rate">
             <fieldset class="rating yellow">
              <input type="checkbox" id="star16" name="rating" value="5" />
              <label class="full" for="star16"></label>
              <input type="checkbox" id="star17" name="rating" value="4" />
              <label class="full" for="star17"></label>
              <input type="checkbox" id="star18" name="rating" value="3" />
              <label class="full" for="star18"></label>
              <input type="checkbox" id="star19" name="rating" value="2" />
              <label class="full" for="star19"></label>
              <input type="checkbox" id="star20" name="rating" value="1" />
              <label class="full" for="star20"></label>
             </fieldset>
             <span class="book-voters">0000 voters</span>
            </div>
            <div class="book-sum">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, commodi! Similique, velit!</div>
            <div class="book-see book-yellow">See The Book</div>
           </div>
          </div>
          <div class="book-cell">
           <div class="book-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81UWB7oUZ0L.jpg" alt="" class="book-photo">
           </div>
           <div class="book-content">
            <div class="book-title">Libro 6</div>
            <div class="book-author">Lorem ipsum dolor sit.</div>
            <div class="rate">
             <fieldset class="rating dark-purp">
              <input type="checkbox" id="star21" name="rating" value="5" />
              <label class="full" for="star21"></label>
              <input type="checkbox" id="star22" name="rating" value="4" />
              <label class="full" for="star22"></label>
              <input type="checkbox" id="star23" name="rating" value="3" />
              <label class="full" for="star23"></label>
              <input type="checkbox" id="star24" name="rating" value="2" />
              <label class="full" for="star24"></label>
              <input type="checkbox" id="star25" name="rating" value="1" />
              <label class="full" for="star25"></label>
             </fieldset>
             <span class="book-voters">0000 voters</span>
            </div>
            <div class="book-sum">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi pariatur accusamus minima ipsum culpa eaque..</div>
            <div class="book-see book-purple">Ver mas</div>
           </div>
          </div>
         </div>
        </div>
       
       </div>




      <div class="columna10">
        <h2>Compra por Categoría</h2>

        <ul>
          <li>Educativos</li>
          <li>Catálogos</li>
          <li>Música</li>
          <li>Colleccionables</li>
        </ul>

        <br>

        <h2>Año de Publicación</h2>

        <ul>
          <li>2021 - Now <small>(4)</small></li>
          <li>2010 - 2020 <small>(4)</small></li>
          <li>2000 - 2009 <small>(4)</small></li>
          <li>1950 - 1999 <small>(4)</small></li>
          <li>1900 - 1949 <small>(4)</small></li>
          <li>1900 - 1949 <small>(4)</small></li>
          <li>1800 - 1899 <small>(4)</small></li>
        </ul>
        <br>

        <h2>Lenguage</h2>

        <ul>
          <li>Español</li>
          <li>Inglés</li>
          <li>Quechua</li>
          <li>No específico</li>
        </ul>
        <br>

        <h2>Precio (Bs)</h2>

        <ul>
          <li>50 - 100</li>
          <li>200 - 400</li>
          <li>400 - 600</li>
        </ul>
        <br>

        <h2>Tipo de Narrativa</h2>

        <ul>
          <li>Ficción</li>
          <li>Terror</li>
          <li>Romance</li>
          <li>Educación</li>
          <li>No específico</li>
        </ul>
      </div>

  </div>

  <div class="books">

  </div>
</div>


