
<div class="footer">

  <!-- <span class="titulo">
    Contactanos
  </span> -->
  <div class="container">
    <div class="column33">
      <div class="izq">
        <p>Queremos que sea fácil resolver tus inquietudes, sugerencias y necesidades si tienes preguntas o dudas sobre los productos, estamos listos para resolverlas.</p>
        <p>Puede encontrarnos tambien en nuestras redes sociales.</p>
        <ul class="redes">
            <h3 class="titulo">Visita nuestras redes sociales</h3>
            <a target="_blank" href="#">
              <li>
              <img src="https://develover.com.mx/recursos_codepen/facebook.png" alt="Facebook">
              </li>
            </a>
              <a target="_blank" href="https://www.whatsapp.com/_develover/">
                <li>
                  <img src="https://develover.com.mx/recursos_codepen/instagram.png" alt="Facebook">
                </li>
              </a>
        </ul>
      </div>
    </div>


    <div class="column33">
      <div class="center">
        <h3 class="titulo">DIAS Y HORAS DE TRABAJO</h3>
        <p>Lunes a Viernes:</p>
        <p>8:30 - 12:00</p>
        <p>14:30 - 18:30</p>
        <br><br>
        <h3 class="titulo">NUESTRA DIRECCIÓN</h3>
        <p>Oficina Central:  Aniceto Arce #380 frente a la facultad de Medicina UMSS</p>
        <p>Telf.: Of.: (+591) 4534479 - Cel.: 72744922</p>
      </div>

    </div>

    <div class="column33">

      <!-- <form [formGroup]="formulario" (ngSubmit)="guardar()" class="material-form">

        <div class="row">
          <h3 class="titulo formtitle">FORMULARIO DE CONTACTO</h3>
        </div>

        <div class="row">

          <section class="material-form-field">
            <div class="material-form-field-controls">
              <div class="form-field-controls-group">
                <input 
                type="Name" 
                id="name" 
                required="required" 
                placeholder="Name" 
                title="Please enter your name" 
                class="material-form-field-input"
                formControlName="nombre"
                [class.is-invalid]="nombreNoValido"
                >
                <label for="name" class="material-form-field-label">Name</label>
                <small class="text-danger" *ngIf="nombreNoValido">
                  Ingrese mas de 3 letras
                </small>
              </div>
            </div>
          </section>

        </div>

        <div class="row">
          <section class="material-form-field">
            <div class="material-form-field-controls">
              <div class="form-field-controls-group">
                <input
                type="text"
                id="femail"
                required="required"
                placeholder="Name"
                title="Please enter your name"
                class="material-form-field-input"
                formControlName="email"
                [class.is-invalid]="emailNoValido"
                >
                <label for="femail" class="material-form-field-label">Email</label>
                <small class="text-danger" *ngIf="emailNoValido">
                  Ingrese un correo valido
                </small>
              </div>
            </div>
          </section>
        </div>

        <div class="row">
          <section class="material-form-field">
            <div class="material-form-field-controls">
              <div class="form-field-controls-group">
                <textarea
                type="text"
                id="femail"
                required="required"
                placeholder="Name"
                title="Please enter your name"
                class="material-form-field-input"
                formControlName="mensaje"
                [class.is-invalid]="mensajeNoValido"
                ></textarea>
                <label for="femail" class="material-form-field-label">Mensaje</label>
                <small class="text-danger" *ngIf="mensajeNoValido">
                  Ingrese un mensaje
                </small>
              </div>
            </div>
          </section>
        </div>

        <div class="row">
          <button class="btn">Enviar</button>
        </div>

      </form> -->

      

  <div class="login-box">

    <div class="row">
      <h3 class="titulo formtitle">FORMULARIO DE CONTACTO</h3>
    </div>
    
    <form [formGroup]="formulario" class="material-form">

      <div class="user-box">

        <section class="material-form-field">
          <div class="material-form-field-controls">
            <div class="form-field-controls-group">
              <input 
              type="Name" 
              id="name" 
              required="required" 
              title="Please enter your name" 
              class="material-form-field-input"
              formControlName="nombre"
              [class.is-invalid]="nombreNoValido"
              >
              <label for="name" class="material-form-field-label">Nombre</label>
              <small class="text-danger" *ngIf="nombreNoValido">
                Ingrese más de 3 letras
              </small>
            </div>
          </div>
        </section>


      </div>


      <div class="user-box">
        <section class="material-form-field">
          <div class="material-form-field-controls">
            <div class="form-field-controls-group">
              <input
              type="text"
              id="femail"
              required="required"
              title="Please enter your name"
              class="material-form-field-input"
              formControlName="email"
              [class.is-invalid]="emailNoValido"
              >
              <label for="femail" class="material-form-field-label">Email</label>
              <small class="text-danger" *ngIf="emailNoValido">
                Ingrese un correo válido
              </small>
            </div>
          </div>
        </section>
      </div>

      <div class="user-box">
        <section class="material-form-field">
          <div class="material-form-field-controls">
            <div class="form-field-controls-group">
              <textarea
              type="text"
              id="femail"
              required="required"
              title="Please enter your name"
              class="material-form-field-input"
              formControlName="mensaje"
              [class.is-invalid]="mensajeNoValido"
              ></textarea>

              <label for="femail" class="material-form-field-label">Mensaje</label>
              <small class="text-danger" *ngIf="mensajeNoValido">
                Ingrese un mensaje
              </small>
            </div>
          </div>
        </section>
      </div>

        <button type="submit" (click)="guardar()" class="btn">Enviar</button>

        <div class="enviado">
          <span class="mensajeenviado">{{ mensaje }}</span>
        </div>
    </form>


  </div>

    </div>
    
  </div>


  </div>