
/*FOOTER*/
.footer{
  /* margin-top: 0%; */
  background-color: #4b4b4b;
  height: 500px;
  /* position: unset; */
}

.container{
  width: 80%;
  margin: 0 16%;
}

.column33{
  width: 33%;
  float: left;
  color: #a8a8a8;
  line-height: 1.5;
} 

.titulo{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.2mm;
  font-weight: 200;
  color: #ecebeb;
  font-size: 18px;
  /* margin-bottom: 10px; */
}

.izq p{
  font-size: 14px;
  line-height: 1.5;
  font-weight: 100px;
  font-family: 'Montserrat', Tahoma, sans-serif;
  letter-spacing: 0.2mm;
  /* padding-bottom: 10px; */
}

.izq{
  padding-right: 35px;
  padding-top: 35px;
}
.center{
  padding-right: 30px;
  padding-top: 35px;
}

ul{
  margin-top: 10%;
}
li{
  color: #fff;
  list-style: none;
  margin: 0 20%;
  margin-top: 5%;
}

li img{
  float: left;
  margin-right: 30px;
}

/*===================*/
/*inicio FORMULARIO*/

form{
  /* border: 2px solid transparent; */
  width: 100%;
  height: 390px;
}

.formtitle{
  padding-top: 28px;
  padding-bottom: 15px;
}

.row{
  width: 100%;
  margin-bottom: 5%;
}

.text-danger{
  color: #ca1c1c;
}

.btn{
  background-color: #f7f200;
  padding: 12px 23px 12px 23px;
  color: #4b4b4b;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  font-family: 'Montserrat', Tahoma, sans-serif;
}

.btn:hover{
  background-color: transparent;
  border: 1px solid #f7f200;
  color: #f7f200;
}



/*fin FORMULARIO*/















.login-box {
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
  border-radius: 10px;
  padding: 15px;
  height: 440px;
}

.login-box h3 {
  margin: 20px 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 15px;
}

.login-box .user-box input {
  width: 100%;
  padding: 7px 7px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box textarea{
  width: 100%;
  padding: 7px 7px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #f7f200;
  font-size: 12px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.enviado{
  margin-top: 20px;
}
.mensajeenviado{
  color: #f7f200;
}