.color{
  background-color: #4b4b4b; /*phone navbar top*/
  border: 1px solid #a7a7a7;/*gris claro*/
  border: 1px solid #999999;/*gris oscuro por el hover*/
  background-color: #f8e827;
  color: #4b4b4b; /*text*/
  ;/*btn BUSCAR*/
	border: 2px solid #f7d413; /*btn HOVER*/
  background-color: #3ba13b;/*navbar BACK*/
  background-color: #273b27;/*routerLink ACTIVE*/
	/*background-color: #4d9738;link HOVER navbar*/
  background: #00000066;
  background-color: #58585833;/*PREV NEXT*/
  color:#f4f4f4e6;/*prev next*/
  background-color: #585859cc; /*prev next HOVER*/
  background-color: #b5b5b585;/*dots*/


  color: #4b4b4b;/*TEXT COLOR*/
  background-color: #fbd606;/*line*/
  background-color: #1c9744;/*comunicados BACK*/
  color: #134309;/*ENLACE a*/
  border: 2px solid #e3e3e3;/*Content*/
  box-shadow: 0 0 8px #00000069;/*Shadow*/
  background-color: #1b3c5d;
  background-color: #1c9744;
  background-color: #fbca06;

  /*CONTACTO*/
  background-color: #98989898;/*IFRAME mapa*/
  color: #636363;/*izq P*/
  border: 2px solid #333333;
  color: #f75b00; /*TEXT danger*/
  background-color: #fbef06;/*BTN*/
  color: #677264;/*BTN*/
  border: 1px solid #f7f200;/*BTN hover*/

  /*footer*/
  background-color: #677264;
  color: #a8a8a8;/*letra*/
  color: #ecebeb;/*titulo*/
  border: 1px solid #f7f200;/*txtbox*/

  /*nosotros*/
  background-color: #61460d99;

  
}






/* 
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linea001 {
  margin-bottom: 2.7%;
  width: 70%;
  margin: 0 15%;
  margin-top: 30px;
  float: left;
} */
