<app-navbar></app-navbar>

<div>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>







<!-- <div class="container">
  <div class="linea001">
      <div>
        <h1 class="titulo"><span class="resaltado">Nuestra</span> Ubicacion</h1>
        <div class="linea"></div>
        <div class="linea2"></div>
        <br>
      </div>


      
  </div>
</div>
 -->

