.container{
  display: flex;
  flex-direction: column;
}

.linea001 {
  margin-top: 5%;
  margin-bottom: 2.7%;
}


/*Lineas*/
.linea{
  background-color: #fbd606;
  width: 22%;
  margin: 0%;
  height: 2px;
}
.linea2{
  background-color: #fbd606;
  width: 10%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 3px;
}
/*fin  lineas*/

.nombre-editorial{
  color: #000;
  padding: 25px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 5px;
  font-size: 28px;
}
.resaltado{
  letter-spacing: 0.5mm;
  color: #fbd606;
  font-family: 'Roboto Slab', serif;
}

.titulo{
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
}

.fila001{
  width: 90%;
  margin: 0 5%;
}
.fila002{
  width: 90%;
  margin: 0 5%;
}

.card{
  width: 20%;
  float: left;
  margin-right: 180px;
  margin-bottom: 4%;
  /* border: 2px solid black; */

}

ul li{
  list-style: none;
}


/*CARD*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root{
  font-size: 20px;
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.section{
  overflow: hidden;
  width: 100%;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.pricing:checked + label,
.pricing:not(:checked) + label{
  position: relative;
  display: block;
  width: 209px;
  height: 44.5px;
  border-radius: 6px;
  margin: 0 40px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 44px;
  padding: 0 25px;
  padding-right: 27px;
  /* overflow: hidden; */
  color: #fff;
  /* text-align: left; */
}
.float-right{
  /* separacion de los botones */
  padding-left: 50px;
}
.pricing:checked + label:before,
.pricing:not(:checked) + label:before{
  position: absolute;
  content: '';
  z-index: -2;
  background-color: #a8e78a;
  width: 50%;
  height: 50%;
  display: block;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.pricing:checked + label:after,
.pricing:not(:checked) + label:after{
  position: absolute;
  content: '';
  z-index: -1;
  background-color: #241f30;
  width: 60px;
  height: 20px;
  display: block;
  top: 2px;
  left: 2px;
  border-radius: 10px;
  transition: left 300ms linear;
}
.pricing:checked + label:after {
  /*DESPLAZAMIENTO*/
  left: 68px;
}
.block-diff {
  display: block;
  mix-blend-mode: difference;
}

.card-3d-wrapper {
  height: 426px;
  /*tamaño de la tarjeta 426*/
  position: relative;
  margin-top: 12px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 700ms 400ms ease-out;
}
.card-back {
  width: 100%;
  height: 427px;
  background-color: #fff; /*tiene que ser blanco*/
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.pricing-wrap{
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}


@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

.card-back h2,
.card-back p,
.card-back h4{
  color: #4b4b4b;
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  padding: 2px;
}

.card-back h4{
  padding: 7px;
}
.img-wrap{
  height: 426px;
  
}
.img-wrap img{
  width: 93%;
  height: auto;
  display: block;
}

.img-2 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 15px) perspective(100px);
}

.logo {
	position: fixed;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}


/*--------------card-------------*/
#wtfii {
  width: 30%;
  height: 100px;
  text-align: center;
  vertical-align: center;
  font: 41px Geneva;
  font-weight: 100;
  margin: auto;
  padding-top: 50px;
}

#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    width: 400px;
    height: 200px;
}

#name {
  width: 300px;
  height: 100%;
  margin-left: 30px;
  text-align: center;
  font-size: 25px;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  line-height: 200%;

  display: table-cell;
   vertical-align: middle;

}

#name span i{
  color: #fff;
  font-size: 45px;
}

.line {
  width: 98%;
  height: 7px;
  background: rgb(41, 81, 31);
  top: 270px;
  margin-left: auto;
}

li {
  color: #000;
  font-size: 17px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4px;
}

.sub{
  font-weight: 500;
  font-size: 17x;
  color: #000;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
}

.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 90%;
    margin: 0 10%;
    /* height: 150%;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    color: #6da979;
    font-weight: bold;
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
    border-radius: 15px;

    display: table;
    height: 200px;
    box-shadow: rgba(13, 13, 13, 0.459) 0px 8px 24px;

    background-size: cover;
    background-position-y: center;
}

.back {
  -webkit-transform: rotateY(180deg);
  /* border: 5px solid #fff; */
  background-color: #e1e1e195;
  width: 90%;
  padding: 15px;
}   

.front {
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #ffffff1e;
  /* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.editorial001{
  padding-top: 10px;
  padding-bottom: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: url(../../../assets/img/asociados/logo-asociado-1.png);
}

.editorial002{
  padding-top: 10px;
  padding-bottom: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  /* background-image: url(../../../assets/img/asociados/logo-asociado-1.png); */
}

#card-container {
  /* padding-top: 25px; */
  width: 30%;
  height: 270px;
  /* margin: auto; */
  /* display: inline-block; */
    /* text-align: justify; */
}   

#card-container:hover .back {   
    -webkit-transform: rotateY(0deg);
}

#card-container:hover .front {      
    -webkit-transform: rotateY(-180deg);
}
