
<div class="container">
  <div class="linea001">


    <div class="asociados">

      <section class="fila001">
        <h1 class="titulo"><span class="resaltado">Nuestros</span> Asociados</h1>
        <div class="linea"></div>
        <div class="linea2"></div>
        <br><br>
      </section>

      <section class="fila002">

        <div class="card">
          <div id="card-container">
            <div id="cardo">
                <div class="back">
                  <!-- <img class="bck" src="" /> -->
                  
                  <ul>
                    <li><span class="sub">Razón Social:</span> Casa Editorial Bienaventuranzas</li>
                    <li><span class="sub">Actividad:</span> Editorial</li>
                    <li><span class="sub">Representante:</span> Javier Cabello Miranda</li>
                    <li><span class="sub">Dirección:</span> Calle Benjamín Blanco Esq. Julián Ma. Lopez</li>
                    <li><span class="sub">Teléfono:</span> (+591) 4797827</li>
                    <li><span class="sub">Web:</span> <a href="https://bienaventuranza.org/"> https://bienaventuranza.org/</a></li>
                    <li><span class="sub">Email:</span> secretarzobispo@gmail.com</li>
                  </ul>
                  
                  <div class="line2"></div>
                  
                </div>
              
                <div class="front editorial001">
                  
                  <!-- <div id="name"><span>CASA EDITORIAL BIENAVENTURANZAS</span></div> -->
              <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
                  
                
              
                </div>
            </div>
        </div>

        </div>    

        <div class="card">
          <div id="card-container">
            <div id="cardo">
                <div class="back">
                  <!-- <img class="bck" src="" /> -->
                  
                  <ul>
                    <li><span class="sub">Razón Social:</span> Difusora Cultural del Saber</li>
                    <li><span class="sub">Actividad:</span> Distribuidor</li>
                    <li><span class="sub">Representante:</span> Robert Laura Valera</li>
                    <li><span class="sub">Dirección:</span> Villa el Carmen c/4 #15 (ciudad de La Paz)</li>
                    <li><span class="sub">Teléfono:</span> (+591) 77750177</li>
                    <li><span class="sub">Email:</span> ecodesign_arq@hotmail.com</li>
                  </ul>
                  
                  <div class="line2"></div>
                  
                </div>
              
                <div class="front editorial002">
                  
                  <div id="name"><span>DIFUSORA CULTURAL DEL SABER</span></div>
              <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
                  
                
              
                </div>
            </div>
        </div>

        </div>
        
        <div class="card">
          <div id="card-container">
            <div id="cardo">
                <div class="back">
                  <!-- <img class="bck" src="" /> -->
                  
                  <ul>
                    <li><span class="sub">Razón Social:</span> Difusora Cultural San Andrés S.R.L.</li>
                    <li><span class="sub">Actividad:</span> Distribuidor</li>
                    <li><span class="sub">Representante:</span> Miguel Buitrago</li>
                    <li><span class="sub">Dirección:</span> Sopocachi. Calle Quintín Barrios No.796 P.B. (ciudad de La Paz)</li>
                    <li><span class="sub">Teléfono:</span> (+591) 77992772</li>
                    <li><span class="sub">Email:</span> editorialsanandres@hotmail.com, 
                    editorialsanandrescbba@gmail.com</li>
                  </ul>
                  
                  <div class="line2"></div>
                  
                </div>
              
                <div class="front">
                  
                  <div id="name"><span>DIFUSORA CULTURAL SAN ANDRÉS</span><br>S.R.L.</div>
              <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
                  
                
              
                </div>
            </div>
        </div>

        </div>

      </section>

        <section class="fila002">

          <div class="card">
            <div id="card-container">
              <div id="cardo">
                  <div class="back">
                    <!-- <img class="bck" src="" /> -->
          
                    <ul>
                      <li><span class="sub">Razón Social:</span> DRAGOFENIXLR - EDITORIAL</li>
                      <li><span class="sub">Actividad:</span> Editorial</li>
                      <li><span class="sub">Representante:</span> Luis Peralta Ortiz</li>
                      <li><span class="sub">Dirección:</span> Sopocachi. Calle Quintín Barrios No. 796 P.B. (ciudad de La Paz)</li>
                      <li><span class="sub">Teléfono:</span> (+591) 4222513</li>
                      <li><span class="sub">Email:</span>lupopol@hotmail.com</li>
                    </ul>
          
                    <div class="line2"></div>
          
                  </div>
          
                  <div class="front">
          
                    <div id="name"><span>DRAGOFENIXLR - EDITORIAL</span></div>
                <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
          
          
          
                  </div>
              </div>
          </div>
          </div>

          <div class="card">
            <div id="card-container">
              <div id="cardo">
                  <div class="back">
                    <!-- <img class="bck" src="" /> -->
                    <ul>
                      <li><span class="sub">Razón Social:</span> D.R.E. Edición y Distribución Internacional</li>
                      <li><span class="sub">Actividad:</span> Editorial</li>
                      <li><span class="sub">Representante:</span> Lilian Evelyn Durán Porrez</li>
                      <li><span class="sub">Dirección:</span> Villa Mercedes c/Yuracaré No.167</li>
                      <li><span class="sub">Teléfono:</span> (+591) 79791089</li>
                      <li><span class="sub">Email:</span> eduran@dre-ediciones.net</li>
                    </ul>
          
                    <div class="line2"></div>
          
                  </div>
          
                  <div class="front">
          
                    <div id="name"><span>D.R.E. EDICIÓN Y DISTRIBUCIÓN INTERNACIONAL</span><br></div>
                <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
          
          
          
                  </div>
              </div>
          </div>
          </div>

          <div class="card">
            <div id="card-container">
              <div id="cardo">
                  <div class="back">
                    <!-- <img class="bck" src="" /> -->
                    <ul>
                      <li><span class="sub">Razón Social:</span> EDICIONES SABER ES PODER</li>
                      <li><span class="sub">Actividad:</span> Editorial</li>
                      <li><span class="sub">Representante:</span> Eva Galean</li>
                      <li><span class="sub">Dirección:</span> Av. Aniceto Arce No 346</li>
                      <li><span class="sub">Teléfono:</span> (+591) 4140523</li>
                      <li><span class="sub">Email:</span> cbba_saberespoder@hotmail.com</li>
                    </ul>
          
                    <div class="line2"></div>
          
                  </div>
          
                  <div class="front">
          
                    <div id="name"><span>EDICIONES SABER ES PODER</span><br></div>
                <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
          
          
          
                  </div>
              </div>
          </div>
          </div>

        </section>

      <!-- <section class="fila001">
      
        <div class="section">
          <div class="section">

              <input class="pricing" type="checkbox" id="pricing" name="pricing"/>
              <label for="pricing"><span class="block-diff">o<span class="float-right"> o</span></span></label>
            <div class="card-3d-wrap">
              <div class="card-3d-wrapper card">
                  <div class="pricing-wrap card-front">
                    <div class="img-wrap img-2">
                      <img src="../../../assets/img/inicio/CASA _EDITORIAL_BIENAVENTURANZAS.jpg" alt="">
                    </div>
                  </div>
                  <div class="card-back">
                    <div class="pricing-wrap">
                      <h3 class="nombre-editorial">EDICIONES SABER ES PODER</h3>
                      <p><span class="sub">Razón Social:</span><br>EDICIONES SABER ES PODER</p>
                      <p><span class="sub">Actividad:</span> Editorial</p>
                      <p><span class="sub">Representante:</span> Eva Galean</p>
                      <p><span class="sub">Dirección:</span> Av. Aniceto Arce No 346</p>
                      <p><span class="sub">Teléfono:</span> (+591) 4140523</p>
                      <p><span class="sub">Email:</span> cbba_saberespoder@hotmail.com</p>

                      <div class="img-wrap img-2">
                        <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                      </div>

                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
      </section> -->
        
    </div>
  </div>
</div>