@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.columnaA {
  width: 14%;
  /* background-color: rebeccapurple; */
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.848);
  padding: 10px;
}
.columnaB {
  width: 78%;
  padding: 10px;
  /* background-color: red; */
  float: right;
}

.pre{
  width: 93.25%;
  /* background-color: aquamarine; */
  padding: 20px 40px 20px 40px;
  height: 80px;
}

.form_wrap {
  width: 80%;
  height: 205px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.columnaB .text {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.columnaB select {
  /* background-color: blue; */
  padding: 5px;
  width: 315px;
}

.txtbox{
  /* background-color: cadetblue; */
  padding: 5px;
  font-size: 12px;
  width: 300px;
  margin-top: 5px;
  border: 1px solid black;
}

.lbl {
  font-size: 12px;
}

.secondtxtbox {
  margin-left: 20px;
}

.sub{
  color: black;
}

.categoria {
  height: 90px; }
.categoria .columnaA {
  height: 60px; }

button{
  margin: 0px 0px 0px 40px;
  padding: 12px 30px;
  background: #241404;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto Mono';
  
  cursor: pointer;
  }

.error {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  width: 20%;
  margin: 0 29%;
  top: 15%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 20px;
}


/*TABLA*/

.lista{
  width: 80%;
  margin: 0 10%;
  margin-bottom: 20px;
}

table {
  width: 70%;
}


th{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

td{
  padding: 20px;
  font-size: 15px;
  background-color: #15151509;
  font-family: 'Montserrat', sans-serif;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.cate{
  width: 10%;
  float: left;
}

.acciones{
  width: 80%;
}

.action {
  text-align: center;
}



/*Validaciones*/
.is-invalid {
  color: #ff0000;
  /* border: 2px solid #ff0000a6; */
}
.text-danger {
  color: #ff0000a6;
  width: 300px;
  float: left;
}
