<div class="form_wrap">
   
  <form [formGroup]="formulario">
    <div>

        <div class="categoria pre">
            <div class="columnaA"><h3 class="sub">Categoría</h3></div>
            <div class="columnaB">
              <p class="text">
                Escriba una categoría para añadir.
              </p>
              <input
              type="text"
              id="fcategoria"
              class="txtbox"
              placeholder="Categoría"
              formControlName="categoria"
              >
              <br>
              <small class="text-danger" *ngIf="categoriaNoValido">Ingrese una categoría válida</small>
            </div>
        </div>
  
    </div>

    <button type="submit" (click)="guardar()" [disabled]="!formulario.valid">Añadir Categoría</button>

    <h3 class= 'texto' [ngClass]="{ 'error': propiedades.error, 'advertencia': !propiedades.error }">
      {{ mensaje }} 
    </h3> <!--Se usa asi-->

  </form>

</div>

<div class="lista">

  <div class="table-responsive">

    <p class="title">CATEGORÍAS</p>

      <div class="table-responsive-sm">
        <table class="">

          <tbody *ngFor="let element of categoriaLista">
            <tr>
              <td scope="row">{{ element.categoria }}</td>

              <td class="action">
                <button>
                  <i class="fa-solid fa-pen"></i>
                </button>
              </td>
              <td class="action">
                <button (click)="eliminarCategoria(element)">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

  </div>
  

</div>