<div class="container">
  <div class="phone">
    telefono
  </div>



  <div class="fila-1">

      <div class="columna33">
        <div class="logoCam">
          <img src="../../../assets/img/navbar/camara-logo borde.png" alt="logotipo" class="logoCamara">
        </div>
      </div>

      <div class="columna33 buscador">
        <input
        type="text"
        placeholder="Buscar..."
        class="buscar"
        >
        <button type="submit" class="btn">Buscar</button>
      </div>

      <div class="columna33">
        <div class="logoFILC">
          <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc">
        </div>
      </div>

  </div>



  <div>
    <header>
      <nav>
        <a [routerLink]="['index']" routerLinkActive = "active" >Inicio</a>
        <a [routerLink]="['nosotros']" routerLinkActive = "active" >Nosotros</a>
        <a [routerLink]="['tienda']" routerLinkActive = "active" >Tienda Virtual</a>
        <a [routerLink]="['editoriales']" routerLinkActive = "active" >Editoriales</a>
        <a [routerLink]="['eventos']" routerLinkActive = "active" >Eventos</a>
        <a [routerLink]="['ferias']" routerLinkActive = "active" >Ferias</a>
        <a [routerLink]="['asociados']" routerLinkActive = "active" >Asociados</a>
        <a [routerLink]="['comunicados']" routerLinkActive = "active" >Comunicados</a>
        <a [routerLink]="['contacto']" routerLinkActive = "active">Contacto</a>
        <a [routerLink]="['privado']" routerLinkActive = "active">Privado</a>
      </nav>
    </header>
  </div>

</div>

