
.container{
	margin-bottom: 0%;
}

/*NAV BAR*/
/*phone*/
.phone{
  background-color: #4b4b4b;
  color: #fff;
  padding: 5px;
  text-align: right;
}
/*phone*/


.fila-1{
  width: 100%;
  margin-bottom: 10%;
}

.columna33{
	width: 33%;
	float: left;
}


/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
	width: 23%;
	padding: 15px;
	margin-left: 40px;
}
.logoFILC{
	margin-top: 20px;
	width: 42%;
}

.logoCam img{
	width: 100%;
}
.logoFILC img{
	width: 100%;
	margin-top: 20px;
	margin-left: 200px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/




/*-------------------BUSCADOR INICIO-----------------------*/
/*---------------------------------------------------------*/
 .buscador{
	margin-top: 3.5%;
	margin-left: 5px;
}

.buscar{
  padding: 10px;
  width: 70%;
  border: 2px solid #bbbbbb;
}

.buscar:hover{
  /* border: 2px solid #999999; */
}

.btn{
  background-color: #f8e827;
  border: none;
	font-size: 15px;
	color: #4b4b4b;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
  padding: 7px 15px 7px 15px;
  margin-left: 15px;
} 

.btn:hover{
	border: 2px solid #fbca06;
	background-color: transparent;
	color: #fbca06;
}

/*-------------------BUSCADOR FIN-----------------------*/
/*------------------------------------------------------*/




/*-------------------NAV BAR INICIO-----------------------*/
/*--------------------------------------------------------*/
nav{
  background-color: #3ba13b;
  height: 28px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
}

nav a{
  color: #fff;
  padding: 20px;
  padding-bottom: 21px;
  text-decoration: none;
}
/* 
no se porque esta aqui
header, nav, section{
  border: 0px solid #000;
} */

.active{
	background-color: #273b27;
}

a{
	margin-right: .2rem;
	text-decoration: none;
	color: white;
	margin-left: -5px;
}  

a:hover {
	font-weight: bold;
}
/*-------------------NAV BAR FIN-----------------------*/
/*-----------------------------------------------------*/







/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
  

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
	.me{ display: none;}
  
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
	.container{
		border: none;
		width: 100%;
		height: 0;
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

	.fila-1{
		margin-bottom: 50px;
	}
.column3{
  width: 30%;
  display: flex;
}

.logo{
  float: left;
  padding: 20px;
}

.logotipo {
	width: 100%;
}



/*buscador*/
.buscador{
  float: left;
  margin-right: 15%;
  margin-top: 3.3%;
}

.buscar{
  padding: 10px;
  width: 50%;
  border: 2px solid #bbbbbb;
}

.buscar:hover{
  /* border: 2px solid #999999; */
}

.btn{
  background-color: #f8e827;
  border: none;
	font-size: 15px;
	color: #4b4b4b;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
} 

.btn:hover{
	border: 2px solid #fbca06;
	background-color: transparent;
	color: #fbca06;
}




nav{
  background-color: #3ba13b;
  height: 15px;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 5px;
}

nav a{
  color: #fff;
  padding: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

a{
	font-size: 5px;
	margin-right: .2rem;
	text-decoration: none;
	color: white;
	margin-left: -5px;
}  

a:hover {
	font-weight: bold;
}




}
