.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linea001 {
  margin-bottom: 2.7%;
  width: 90%;
  margin: 0 5%;
  margin-top: 30px;
  float: left;
}

.titulo{
  color: #000;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5mm;
  margin-bottom: 5px;
  font-size: 30px;
}
.resaltado{
  color: #fbd606;
  font-family: 'Roboto Slab', serif;
}





.enlaces{
  width: 50%;
  margin: 0 25%;
}

.btn{
  border: none;
  padding: 25px 63px 25px 63px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  background-color: transparent;
}

.btn:hover{
  font-weight: bold;
  font-size: 23px;
}

.lineaRight{
  border-right: 2px solid black;
}