<div class="container">

  <div class="enlaces">
    <button type="button" class="btn lineaRight" [routerLink]="['libros']" routerLinkActive="active">LIBROS</button>

    <button type="button" class="btn lineaRight" [routerLink]="['editorial']" routerLinkActive="active">EDITORIAL</button>
  
    <button type="button" class="btn" [routerLink]="['categoria']" routerLinkActive="active">CATEGORÍAS</button>
  </div>

</div>

<router-outlet></router-outlet>
