@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.columnaA {
  width: 14%;
  /* background-color: rebeccapurple; */
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.436);
  padding: 10px;
}
.columnaB {
  width: 78%;
  padding: 10px;
  /* background-color: red; */
  float: right;
}

.f1{
  float: left;
  margin-right: 25px;
}

.f2 {
  margin-left: 40px;
}

.pre{
  width: 93.25%;
  /* background-color: aquamarine; */
  padding: 15px 40px 15px 40px;
  /* border-bottom: 2px solid black; */
  height: 80px;
}

.pre:hover {
  background-color: #dbdbdb58;
}

.form_wrap {
  width: 80%;
  height: 1700px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.columnaB .text {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.columnaB select {
  /* background-color: blue; */
  padding: 5px;
  width: 315px;
}

.txtbox{
  /* background-color: cadetblue; */
  padding: 5px;
  font-size: 12px;
  width: 300px;
  margin-top: 5px;
  border: 1px solid black;
}

.lbl{
  font-size: 12px;
}

.secondtxtbox {
  /* margin-left: 20px; */
}

.sub{
  color: black;
}

.idioma {
  height: 90px;
  background-color: #dbdbdb2e; }
.idioma .columnaA {
  height: 60px; }


.titulo {
  height: 200px; }
.titulo .columnaA {
  height: 170px; }


.serie {
  height: 98px;
  background-color: #dbdbdb2e; }
.serie .columnaA {
  height: 78px; }


.numero_edicion {
  height: 90px; }
.numero_edicion .columnaA {
  height: 60px;
}

.autor {
  height: 120px; 
  background-color: #dbdbdb2e;}
.autor .columnaA {
  height: 90px; }

.descripcion {
  height: 140px; }
.descripcion .columnaA {
  height: 110px; }

.claves {
  height: 75px;
}

.categorias {
  height: 130px;
}

.precio {
  height: 120px; 
  background-color: #dbdbdb2e;}
.precio .columnaA {
  height: 90px;}

.editorial{
  height: 120px; }
.editorial .columnaA {
  height: 90px;}

.fecha {
  height: 120px; 
  background-color: #dbdbdb2e;}
.fecha .columnaA {
  height: 90px;}

.formato {
  height: 115px; }
.formato .columnaA {
  height: 85px;}

  .categorias {
    height: 100px; 
    background-color: #dbdbdb2e;}
  .categorias .columnaA {
    height: 70px;}
form button{
  margin: 40px 0px 0px 40px;
  padding: 12px 30px;
  background: #241404;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto Mono';
  
  cursor: pointer;
  }

.error {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  width: 20%;
  margin: 0 29%;
  top: 15%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 20px;
}







/*TABLA*/
 
.lista{
  width: 50%;
  margin: 0 7%;
  margin-bottom: 20px;
}

th{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: left;
  padding: 20px;
  background-color: #15151509;
}

td{
  font-size: 13px;
  background-color: #15151509;
  padding: 0px 0px 0px 10px;
  font-family: 'Montserrat', sans-serif;
}

.action button {
  text-align: center;
  background-color: none;
  margin: 0px;
  padding: 12px 30px;
  background:transparent;
  border: none;
  border-radius: 8px;
  color: #241404;
  font-size: 26px;
  font-family: 'Roboto Mono';
  
  cursor: pointer;
}

.action{
  /* background-color: transparent; */
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}


/*Validaciones*/
.is-invalid {
  color: #ff0000;
  /* border: 2px solid #ff0000a6; */
}
.text-danger {
  color: #ff0000a6;
  width: 300px;
  float: left;
  margin-top: 5px;
}
