

<div class="form_wrap">

<form [formGroup]="formulario">

  <div>
      <div class="idioma pre">
        <div class="columnaA idiomaA">
          <h3 class="sub">Idioma</h3>
        </div>
        <div class="columnaB">
          <p class="text">
            Eliga el idioma en el que se escribió el libro.
          </p>
          <select name="idioma" formControlName="idioma">
            <option [value]="element" *ngFor="let element of idioma"> {{ element }} </option>
          </select>
          <br>
          <small class="text-danger">Seleccione un idioma</small>
        </div>
      </div>

      <div class="titulo pre">
          <div class="columnaA"><h3 class="sub">Titulo Libro</h3></div>
          <div class="columnaB">
            <p class="text">
              Escriba el título tal y como aparece en la portada.
            </p>
            <label for="ftitulo" class="lbl">Titulo</label>
            <br>
            <input 
            type="text"
            id="ftitulo"
            class="txtbox"
            formControlName="titulo"
            >
            <br>
            <small class="text-danger">Ingrese el título</small>
            <br><br>
            <label for="fsubtitulo" class="lbl">Subtitulo</label>
            <br>
            <input
            type="text"
            id="fsubtitulo"
            class="txtbox"
            formControlName="subtitulo"
            >
            <br>
          </div>
      </div>

      <div class="autor pre">
        <div class="columnaA">
          <h3 class="sub">Autor</h3>
        </div>

        <div class="columnaB">
          <p class="text">
            Su libro debe tener al menos un autor.
          </p>
          <div class="f1">
            <label for="" class="lbl">Nombre del autor</label>
            <br>
            <input
            type="text"
            id="fautor"
            class="txtbox"
            placeholder="Nombre"
            formControlName="autor_name"
            >
            <br>
            <small class="text-danger">Ingrese el nombre del autor</small>
          </div>
          <div class="f2">
            <label for="" class="lbl">Apellido del autor</label>
            <br>
            <input
            type="text"
            id="fapellido"
            class="txtbox secondtxtbox"
            placeholder="Apellidos"
            formControlName="autor_last"
            >
            <br>
          </div>
        </div>
      </div>

      <div class="descripcion pre">
          <div class="columnaA">
            <h3 class="sub">Descripción</h3>
          </div>
          <div class="descripcion columnaB">
            <p class="text">
              Este texto aparecerá en la página de detalles de su libro.
            </p>
              <textarea 
              class="txtbox"
              name="descripcion"
              id="des" 
              cols="40" rows="4"
              placeholder="Escriba aqui..."
              formControlName="descripcion"
              ></textarea>
              <br>
              <small class="text-danger">Ingrese una descripción</small>
          </div>
      </div>

      <div class="precio pre">
          <div class="columnaA">
            <h3 class="sub">Precio</h3>
          </div>

          <div class="columnaB">
            <p class="text">
              El precio del libro se debe poner en bolivianos.
            </p>
            <label for="fprecio" class="lbl">Precio:</label>
            <br>
            <input
            type="text"
            id="fprecio"
            class="txtbox"
            formControlName="precio"
            >
            <br>
            <small class="text-danger">Ingrese el precio</small>
          </div>
      </div>

      <div class="editorial pre">
        <div class="columnaA">
          <h3 class="sub">Editorial Vendedor</h3>
        </div>
        <div class="columnaB">
          <p class="text">
            Si pertenece a alguna editorial llene este campo.
          </p>
          <label for="fEditorial" class="lbl">Editorial / Vendedor</label>
          <br>
          <select name="editorial" id="editorial" class="txtbox" formControlName="editorial">
            <option *ngFor="let element of editoriales" [value]="element.nombre"> {{ element.nombre }} </option>
          </select>
          <br>
          <small class="text-danger">Seleccione un vendedor</small>
        </div>
      </div>
          
      <div class="fecha pre">
        <div class="columnaA">
          <h3 class="sub">Fecha de publicación</h3>
        </div>
        <div class="columnaB">
          <p class="text">
            Escriba la fecha de publicación del libro
          </p>
          <label for="ffecha">Fecha:</label>
          <br>
          <input 
          type="date"
          class="txtbox"
          id="date"
          formControlName="fecha"
          >
          <br>
          <small class="text-danger">Ingrese una fecha</small>
        </div>
      </div>

      <div class="formato pre">
        <div class="columnaA">
          <h3 class="sub">Formato</h3>
        </div>

        <div class="columnaB">
          <p class="text">
            Escriba el formato del libro, puede ser tapa dura, anillado.
          </p>

          <label for="fformato" class="lbl">Formato</label>
          <br>
          <input 
          type="text"
          id="fformato"
          class="txtbox"
          formControlName="formato"
          >
        </div>
      </div>
      
      <div class="categorias pre">
        <div class="columnaA">
          <h3 class="sub">Categorías</h3>
        </div>

        <div class="columnaB">
          <p class="text">
            Elija categorías de búsqueda.
          </p>
          <!-- <label for="first">First</label> -->
          <select name="categorias" id="categorias" formControlName="categoria">
            <option *ngFor="let element of categorias" [value]="element.categoria"> {{ element.categoria }} </option>
          </select>
          <br>
          <small class="text-danger">Seleccione una categoría</small>
        </div>
      </div>

  </div>

  <button type="submit" (click)="guardar()"  [disabled]="!formulario.valid"><p>Añadir Libro</p></button>

  <h3 class= 'texto' [ngClass]="{ 'error': propiedades.error, 'advertencia': !propiedades.error }">
    {{ mensaje }} 
  </h3> <!--Se usa asi-->
  
  <!-- <p class="snackbar">{{ mensaje }} </p> -->
</form>



</div>





<div class="lista">

  <p class="title">Libros</p>

      <div class="table-responsive-sm">
        
        <div class="table-responsive">
          <table class="table table-primary">

            <thead>
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Titulo</th>
                <th scope="col">Idioma</th>
                <th scope="col">Autor</th>
                <th scope="col">Descripción</th>
                <th scope="col">Categorías</th>
                <th scope="col">Precio</th>
                <th scope="col">Editorial</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Categoría</th>
              </tr>
            </thead>

            <tbody *ngFor="let element of lista_libros">
              <tr class="">
                <td>img</td>
                <td>{{ element.titulo }} <br> {{  element.subtitulo }}</td>
                <td>{{ element.idioma }}</td>
                <td>{{ element.autor_name }} <br> {{ element.autor_last }} </td>
                <td>{{ element.descripcion }}</td>
                <td>{{ element.categoria }}</td>
                <td>{{ element.precio }}</td>
                <td>{{ element.editorial }}</td>
                <td>{{ element.fecha }}</td>
                <td>{{ element.categoria }}</td>

                <td class="action">
                  <button>
                    <i class="fa-solid fa-pen"></i>
                  </button>
                </td>
                <td class="action">
                  <button (click)="eliminarLibro(element)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
        
      </div>

</div>