

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

#i1, #i2, #i3, #i4, #i5{ display: none;}


.contenido-img{
		position: relative;
		width: 100%;
    /* margin-bottom: 32%; */
	  /* user-select: none; */
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		






/*CONTENIDO INDEX*/

.container{
  display: flex;
  flex-direction: column;
}

.contenido-img{
  margin-bottom: 33%;
}

/*INTRODUCCION*/
.intro{
  width: 70%;
  margin: 0 15%;
}

.sub{
  font-weight: bold;
  font-size: 20px;
}

.column50 {
  margin-top: 5%;
  float: left;
  margin-bottom: 2.7%;
}

.text{
  width: 60%;
  line-height: 1.5;
  padding: 20px;
  color: #4b4b4b;
}

.imagen {
  width: 32%;
  margin-bottom: 0%;
}

.imagen img{
  width: 115%;
}

/*Lineas*/
.linea{
  background-color: #fbd606;
  width: 31%;
  margin: 0%;
  height: 2px;
}
.linea2{
  background-color: #fbd606;
  width: 10%;
border-top: 2px solid #fbd606;
  margin: 0%;
  height: 3px;
}

/*NUESTROS COMUNICADOS*/
.all{
  background-color: #1c9744;
  padding: 15px;
  margin-bottom: 4%;
  width: 97.9%;
}
.comunicados{
  width: 70%;
  margin: 0 16%;
  margin-top: 2%;
  text-align: left;
}
.titulo{
  color: #fff;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5mm;
  margin-bottom: 5px;
  font-size: 30px;
}
.resaltado{
  color: #fbd606;
  font-family: 'Roboto Slab', serif;
}

.enlace a{
  color: #fff;
  color: #134309;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

/*cuadro*/
.col-service{
  width: 100%;
  float: left;
}
.content{
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 15px;
  float: left;
  width: 44%;
  margin-right: 20px;
  justify-content: space-between;
}
.comunicado-img{
  width: 22%;
  float: left;
}
.img-com{
  width: 100%;
  padding: 10px;
}
.comunicado-titulo{
  color: #fff;
  font-size: 15px;
  width: 70%;
  margin-left: 30%;
}
.comunicado-titulo h3{
  font-family: 'Montserrat', sans-serif;
}
.comunicado-titulo p{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2mm;
  font-weight: 100;
  font-size: 15px;
}

/*NUESTROS AMIGOS*/
.amigos{
  width: 70%;
  margin: 0 15%;
  padding: 20px;
}
.amigos h1{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5mm;
  font-size: 30px;
  margin-bottom: 5px;
}

.linea-a{
  background-color: #fbd606;
  width: 21%;
  margin: 0%;
  height: 2px;
}
.linea2-a{
  background-color: #fbd606;
  width: 10%;
border-top: 2px solid #fbd606;
  margin: 0%;
  height: 3px;
  margin-bottom: 3%;
}

div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 210px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 8px #00000069;
}

div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 250px;
}
/*
img{
  filter: grayscale(1);
}

div.item:hover img{
  filter: grayscale(0);
} */

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}
/*
div.item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
} */

div.item.blue {
  background-color: #1b3c5d;
}
div.item.blue i {
  color: #1b3c5d;
}
div.item.red {
  background-color: #1c9744;
}
div.item.red i {
  color: #1c9744;
}

div.item.green {
  background-color: #fbca06;
}
div.item.green i {
  color: #fbca06;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item * {
  transition: all .35s ease-in-out;
}


div.item i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*CONTENIDO INDEX*/


/*animation*/

#noticia-der{
  animation-name: title-entrance;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes title-entrance {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

#noticia-izq{
  animation-name: pika-entrance;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes pika-entrance {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}







.service-icon-list .content {
	text-align:initial;
}
.service-icon-list .content {
	position:relative;
	text-align:left;
	border:1px solid rgba(0,0,0,0.1);
}
.service-icon-list .content .col-md-9 {
	padding:30px;
  padding-left: 130px;
}
.service-icon-list .content:before {
	content:'' !important;
	display:block !important;
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	width:25%;
	background:#f4f5f6;
		transition:all 0.3s;
		-webkit-clip-path:polygon(0 0,65% 0,100% 100%,0% 100%);
	-moz-clip-path:polygon(0 0,65% 0,100% 100%,0% 100%);
	clip-path:polygon(0 0,65% 0,100% 100%,0% 100%);
}
.service-icon-list .type {
	position:absolute;
	top:50px;
	left:10%;
	transform:translateX(-50%);
	font-size:40px;
	color:#333;
}
.service-icon-list a:hover {
	color:inherit;
}
.service-icon-list .content:hover:before {
	background:#006722;
	color:#fff;
}
.service-icon-list .content:hover span {
	color:#fff;
}
.service-icon-list h3 {
	font-size:1.125em;
	font-weight:700;
	letter-spacing:.02em;
	margin-bottom:10px;
	text-transform:uppercase;
}

.page-wrapper .row {
	margin-bottom:50px
}
.margin-bottom50 {
  margin-bottom:50px;
  width: 70%;
  margin: 0 15%;
}

.the-headline {margin-bottom:30px;}
.the-headline h1 {
	color: #111111;
	line-height: 1.3;
	font-size:32px;
	font-weight:800;
	margin-bottom:0px;
}
.darkarea .the-headline h1{color:rgb(1, 0, 0);}
.the-headline .decoration {
    border-top: medium solid #f8e827;
    position: relative;
    height: 1px;
	width: 40px;
    margin: 15px auto 7px auto;
}
.the-headline h3 {
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top:20px;
}
.accentcolor {
	color:#f8e827
}
.the-headline .decoration {
  border-top: medium solid #f8e827;
  position: relative;
  height: 1px;
width: 40px;
  margin: 15px auto 7px auto;
}
#sow-headline-container.sow-headline .decoration {
	width:40px;
	margin:15px auto 7px auto !important;
}



/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

/*NUESTROS AMIGOS*/
.linea-a{
  width: 20%;
}

div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1.2%;
  min-width: 220px;
  max-width: 310px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 8px #00000069;
}

div.item img {
  max-width: 80%;
  vertical-align: top;
  height: 180px;
}


}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

/*NUESTROS AMIGOS*/
.linea-a{
  width: 20%;
}

div.item {
  width: 31%;
  min-width: 150px;
  max-width: 310px;
}

div.item img {
  max-width: 80%;
  vertical-align: top;
  height: 110px;
}

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  .amigos{
    width: 100%;
    margin: 0 15%;
    padding: 20px;
  }

  /*NUESTROS AMIGOS*/
.linea-a{
  width: 24%;
}

div.item {
  width: 100%;
  min-width: 300px;
  max-width: 580px;
}

div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 400px;
}

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

  .amigos{
    width: 100%;
    margin: 0 15%;
    padding: 20px;
  }

  /*NUESTROS AMIGOS*/
.linea-a{
  width: 24%;
}

div.item {
  width: 100%;
  min-width: 300px;
  max-width: 580px;
}

div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 400px;
}

}























@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  --black: #242424;
  --white: #f5f5f5;
  --pill: #e0d4be;
  --red: #cc033f;
}

ul {
  list-style: none;
}

.page-wrap {
  position: relative;
}

header {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/*  NAV: Top Menu Section
----------------------------------------------- */
nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  font-size: clamp(1.2rem, 6vw, 3rem);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--pill);
  font-size: 1.3rem;
  background-color: var(--red);
  padding: 5px 10px;
}
nav ul {
  display: flex;
  color: var(--white);
}
nav ul li:not(#burger) {
  visibility: hidden;
  margin-right: 1.5em;
}

#burger {
  width: min-content;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
#burger span {
  display: block;
  height: 3px;
  width: 22px;
  background-color: var(--red);
  border-radius: 200px;
  transition: transform 0.3s 0.3s;
}

.active span:nth-of-type(1) {
  transform: translateY(-3px) scaleX(1.3);
}
.active span:nth-of-type(3) {
  transform: translateY(3px) scaleX(1.3);
}

/*  MAIN: Slider Section
----------------------------------------------- */
main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--i);
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 8;
}
.hero-info h2 {
  font-size: clamp(2rem, 9vw, 5rem);
  line-height: clamp(2rem, 9vw, 5rem);
  text-transform: uppercase;
}
.hero-info h1 {
  color: var(--white);
  font-size: clamp(3.2rem, 10vw, 7rem);
  line-height: clamp(3.2rem, 10vw, 7rem);
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.hero-info h3 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2em;
}
@supports (-webkit-text-stroke: 3px var(--pill)) {
  .hero-info h2 {
    color: transparent;
    -webkit-text-stroke: 3px var(--pill);
    text-shadow: none;
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hi-1 {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

/* Photo by Lucas Favre
   https://unsplash.com/photos/BRTV55ErUZg
----------------------------------------------- */
.hi-2 {
  background-image: url("https://images.unsplash.com/photo-1517057011470-8f36d636e6ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

/* Photo by Roell de Ram
   https://unsplash.com/photos/2DM7eOR5iyc
----------------------------------------------- */
.hi-3 {
  background-image: url("https://images.unsplash.com/flagged/photo-1552035791-b3cc1632e933?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
}

/* Photo by Go to Bernd Wahlbrinck
   https://unsplash.com/photos/lVVvYiR66kw
----------------------------------------------- */
.hi-4 {
  background-image: url("https://images.unsplash.com/photo-1574700273608-7962d3602a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

/* Photo by Micheal Schofield
   https://unsplash.com/photos/d0ohwP3BRf4
----------------------------------------------- */
.hi-5 {
  background-image: url("https://images.unsplash.com/photo-1605045544284-d13c6d6a60a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

/*  SECTION: Overlay Menu Section
----------------------------------------------- */
section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  min-height: 100vh;
  padding: 8em 5em 2em 5em;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/church.png");
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.level-1 {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2em;
}
.level-1 h3 {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.level-1 p {
  margin: 0.5em 0 0 0.5em;
}
.level-1 p small {
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}
.level-1 p small:hover {
  opacity: 1;
  color: var(--red);
}
.level-1 ul > li {
  font-size: 1.2rem;
  padding: 0.3em;
  transition: color 0.3s;
}
.level-1 ul > li:hover {
  color: var(--red);
  cursor: pointer;
}
.level-1 li:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/4;
}
.level-1 li:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.level-1 li:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.level-1 li:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.level-2 {
  padding: 0.3em 1em;
}
.level-2 li p {
  color: var(--red);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1em 0;
  text-transform: uppercase;
  border-bottom: 1px solid #fde0ac;
}

.level-3 {
  display: flex;
  flex-wrap: wrap;
}
.level-3 li {
  padding: 0.5em 1em !important;
  background-color: var(--pill);
  border-radius: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1rem !important;
  cursor: pointer;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1em 2em;
  }
  nav h1 {
    font-size: 0.9rem;
  }
  section {
    padding: 8em 2em 2em 2em;
  }
  .level-1 {
    grid-template-columns: 1fr;
  }
  .level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .level-1 li:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .level-1 li:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .level-1 li:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}























