







<div class="container">


    <div class="contenido-img">

        <input type="radio" id="i1" name="images" checked />
        <input type="radio" id="i2" name="images" />
        <input type="radio" id="i3" name="images" />
        <input type="radio" id="i4" name="images" />
        <input type="radio" id="i5" name="images" />	
    
        <div class="slide_img" id="one">			
          
          <img src="./../../../assets/img/navbar/invitacion-01.jpg">
          
            <label class="prev" for="i5"><span>&#x2039;</span></label>
            <label class="next" for="i2"><span>&#x203a;</span></label>	
    
        </div>
    
        <div class="slide_img" id="two">
    
          <img src="../../../assets/img/navbar/Banner002-c.jpg" >
          
            <label class="prev" for="i1"><span>&#x2039;</span></label>
            <label class="next" for="i3"><span>&#x203a;</span></label>
    
        </div>
          
    
        <div class="slide_img" id="three">
          <img src="./../../../assets/img/navbar/estudiantes 1.jpg">	
          
            <label class="prev" for="i2"><span>&#x2039;</span></label>
            <label class="next" for="i4"><span>&#x203a;</span></label>
        </div>
    
        <div class="slide_img" id="four">
          <img src="../../../assets/img/navbar/estudiantes.jpg">	
          
            <label class="prev" for="i3"><span>&#x2039;</span></label>
            <label class="next" for="i5"><span>&#x203a;</span></label>
        </div>
    
        <div class="slide_img" id="five">
          <img src="./../../../assets/img/navbar/estudiante.jpg">	
          
            <label class="prev" for="i4"><span>&#x2039;</span></label>
            <label class="next" for="i1"><span>&#x203a;</span></label>
    
        </div>
    
        <div id="nav_slide">
        <label for="i1" class="dots" id="dot1"></label>
        <label for="i2" class="dots" id="dot2"></label>
        <label for="i3" class="dots" id="dot3"></label>
        <label for="i4" class="dots" id="dot4"></label>
        <label for="i5" class="dots" id="dot5"></label>
        </div>
    
    </div>


    <div class="intro">

        <div class="">
            <div class="column50 text">
                <p>
                <span class="sub">LA CAMARA DEL LIBRO</span> Un 25 de marzo del 2008 se llevó a cabo una asamblea general de “La Cámara Departamental del Libro de Cochabamba" conformada por asociados y representantes de instituciones y empresas dedicadas a la producción de libros, revistas y cualquier producción bibliográfica legal.
                </p>
                <br>
                <p>
                Dicha reunión tuvo la finalidad de apoyar, promover e impulsar el desarrollo de las actividades relacionadas con la producción de todo tipo de material complementario al libro en cualquier formato y cualquier tipo de publicación bibliográfica en el departamento.... <a href="">+ ver mas detalle</a>
                </p>
            </div>
            <div class="column50 imagen cinta tres">
                <img src="../../../assets/img/inicio/directores.jpg" alt="intro-IMG">
            </div>
        </div>

    </div>

  <!-- <div class="all">
      <div class=" comunicados">
          <h1 class="titulo">
              <span class="resaltado">Nuestros</span>
              Comunicados
          </h1>
          <div class="linea"></div>
          <div class="linea2"></div>
          <br>
          
          <div class="col-service">
              <div class="content" id="noticia-izq">
                  <div class="comunicado-img">
                          <img src="../../../../../assets/img/inicio/noticia.jpg" alt="" class="img-com">
                  </div>
                  <div class="comunicado-titulo">
                      <h3>LA CAMARA DEL LIBRO APOSTARA POR UNA FIL VIRTUAL</h3>
                      <br>
                      <P>
                      La Cámara Departamental del Libro (CDL) de Cochabamba apostará este año por una versión virtual de la Feria Internacional del Libro (FIL), que se llevará a cabo luego de las elecciones presidenciales, en octubre.
                      </P>
                    <small class="enlace">
                        <a href="www.lostiemsmallos.com">www.lostiempos.com</a>
                    </small>
                  </div>

              </div>

              <div class="content" id="noticia-der">
                  <div class="comunicado-img">
                          <img src="../../../../../assets/img/inicio/noticia.jpg" alt="" class="img-com">
                  </div>
                  <div class="comunicado-titulo">
                      <h3>FERIA DEL LIBRO LANZA EL DESAFÍO DE ACABAR CON LA PIRATERÍA</h3>
                      <br>
                      <P>
                      Boris Vargas, director de la Cámara Departamental, expresó que la venta ilegal de obras literarias es el peor enemigo para el desarrollo de la industria bibliográfica nacional.
                      </P>
                <small class="enlace">
                    <a href="www.opinion.com.bo">www.opinion.com.bo</a>
                </small>
                  </div>
              </div>
          </div>

      </div>
  </div> -->


  <!-- =========================== SERVICES BEGIN =========================== -->
<div class="allo">
    <section class="margin-bottom50">
    
        <div class="container">
    
            <div class="the-headline text-center">
                <h1 class="titulo">
                    <span class="resaltado">Nuestros</span>
                    Comunicados
                </h1>
                <div class="linea"></div>
                <div class="linea2"></div>
    
            </div>
    
            <div class="sow-services-list">
                <div class="our-services service-icon-list">
    
                    <div class="col-md-6 sow-services-service">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="type">
                                        <span class="sow-icon-fontawesome"><i class=" "><img src="../../../assets/img/inicio/lector.png"/></i></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <!-- <a href="#" title=""> -->
                                    <h3>La Cámara del Libro apostará por una FIL virtual</h3>
                                    <p>
                                        La Cámara Departamental del Libro (CDL) de Cochabamba apostará este año por una
                                        versión virtual de la Feria Internacional del Libro (FIL), que se llevará a cabo
                                        luego de las elecciones presidenciales, en octubre. <br><i>ref: www.lostiempos.com</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 sow-services-service">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="type">
                                        <span class="sow-icon-fontawesome"><i class=" "><img src="../../../assets/img/inicio/lector.png"/></i></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3>Feria del Libro lanza el desafío de acabar con la piratería</h3>
                                    <p>
                                        Boris Vargas, director de la Cámara Departamental, expresó que la venta ilegal de obras literarias es el peor enemigo para el desarrollo de la industria bibliográfica nacional.  <br><i>ref: www.opinion.com.bo</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
              </div>
            </div>
        </div>
    
    </section>
</div>
<!-- =========================== SERVICES END =========================== -->


      <div class=" amigos">
          <h1 class="title">
              <span class="resaltado">Nuestros</span>
              Amigos
          </h1>
          <div class="linea-a"></div>
          <div class="linea2-a"></div>

          <div class="containr">
              <div class="item red">
                  <a href="https://www.mintrabajo.gob.bo/">
                      <img src="../../../assets/img/inicio/A-gobierno.jpg"/>
                      <i class="fa-solid fa-building-ngo"></i>
                  </a>
              </div>

              <div class="item blue">
                  <a href="https://ovt.mintrabajo.gob.bo/#/loginRoe">
                      <img src="../../../assets/img/inicio/A-ministerio.jpg"/>
                      <i class="fa-solid fa-briefcase"></i>
                  </a>
             </div>

              <div class="item green">
                  <a href="https://www.senapi.gob.bo/">
                      <img src="../../../assets/img/inicio/A-senapi.jpg"/>
                      <i class="fa-solid fa-brain"></i>
                  </a>
              </div>
          </div>
      </div>
</div>
